.Navbar{
  display: flex;
  position: fixed;
  top: 10px;
  left: 20px;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 999;
  text-decoration: none;
  flex-wrap: wrap;
}

  .navbar-link {
    color: #F8EBE3;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-right: 50px; */
  }
  
  .navbar-link:hover {
    color: skyblue;
  }
  
.Navbarparent{
    display: flex;
    /* flex-wrap: wrap; */
} 
